@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  font-family: 'Noto Serif', serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.large {
  font-size: 16px;
}

.medium {
  font-size: 15px;
}

.small {
  font-size: 14px;
}

.border-orange {
  border-color: #FFB115;
}

.background {
  background-image:
    linear-gradient(
      to bottom,
      #f9fefee9, #caf5f5e9
    );
}

.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  overflow-x:hidden;
}

.cover {
  background-size: cover;
}
